@media screen and (max-width: 1170px){
	.feature {
		width: 50%;
	}
}

@media screen and (max-width: 980px){
	.main-form-info .form-title {
		font-size: 40px;
	}

	.form-block {
		margin: 203px auto 0 auto;
	}

	.block-2 h4 a:last-child::before {
		position: absolute;
		top: -150px;
	    left: -27%;
	}

	.comments {
		margin-top: 20px;
	}

	.comment {
		width: 45%;
		margin-top: 20px;
	}

	.comment p::after {
		top: 85px;
		right: 10px;
	}
}

@media screen and (max-width: 860px){
	.main-form-info .form-title {
		font-size: 35px;
	}

	.comment {
		margin-top: 30px;
	}

	.comment p::after {
		top: 98px;
		right: 10px;
	}
}

@media screen and (max-width: 760px){
	.logo {
		margin-left: 32%;
	}

	.main-nav {
		float: left;
		margin-left: 13%;
	}

	.main-form-info .form-title {
		font-size: 30px;
	}

	.block {
		width: 100%;
	}

	.block-1 {
		background-color: #202242;
	}

	.yellow-block {
		width: 100%;
		height: 100%;
		background-color: #ffe13e;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	.block-2 h4 a:last-child::before {
		position: absolute;
		top: -150px;
	    left: 0%;
	}

	.comment {
		width: 100%;
		margin-left: 20px;
		margin-top: 60px;
	}

	.comment p::after {
		top: 68px;
		right: 10px;
	}	
}

@media screen and (max-width: 620px){
	.main-form-info .form-title {
		font-size: 25px;
	}

	.main-form-info .form-title::after {
		top: 50px;
		left: 36%;
	}

	.block h4 a {
		font-size: 25px;
	}

	.feature-block h4 {
		font-size: 30px;
	}

	.feature-block p {
		font-size: 20px;
	}

	.client-description {
		width: 100%;
		text-align: center;
	}

	.client-description h4 {
		font-size: 25px;
	}

	.client-description p {
		font-size: 14px;
	}

	.client-company {
		width: 100%;
		padding: 0px 0 0 10px;
		display: block;
		margin: 0 auto;
		width: 36%;
	}
}

@media screen and (max-width: 580px){
	.logo {
		margin-left: 27%;
	}

	.main-nav {
		margin-left: 6%;
	}

	.main-nav a {
		font-size: 14px;
	}

	.main-form-info .form-title {
		font-size: 20px;
	}

	.main-form-info .form-title::after {
		background-size: 90px;
	}

	.form-block {
		width: 430px;
	}

	.form-block input {
		width: 180px;
		font-size: 14px;
		padding-left: 6px;
	}

	.block h4 a::before {
		top: -217px;
		left: 16%;
	}

	.block-2 h4 a:last-child::before {
		position: absolute;
		top: -150px;
	    left: -14%;
	}

	.select {
		width: 88px;
		height: 55px;
		font-size: 14px;
	}

	.btn {
		width: 140px;
	}

	.feature {
		width: 100%;
	}

	.feature .inner {
		padding: 40px 23px 20px 23px;
	}

	.feature p {
		font-size: 13px;
	}

	footer p::before {
		top: -45px;
		left: 45%;
	}
}

@media screen and (max-width: 500px){
	.logo {
		margin-left: 23%;
	}

	.main-nav {
		margin-left: 13%;
	}

	.main-nav li {
		margin: 0 0 0 15px;
	}

	.comment p::after {
		top: 96px;
		right: 10px;
	}	
}
