@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500|Raleway:400,400i,700');
body {
	font-family: 'Raleway', arial, sans-serif;
	color: #202242;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.3;
	min-width: 480px;
	margin: 0;
}

.clearfix::after {
	content: "";
	clear:both;
	display: table;
}

.container {
	min-width: 480px;
	max-width: 1170px;
	margin: 0 auto;
}

.top-page {
	padding: 53px 0 57px 0;
}

.logo {
	width: 226px;
	height: 33px;
	background: url(../images/logo.png) 50% no-repeat;
	float: left;
	font-size: 0;
	margin-top: 5px;
	margin-left: 10px;
}

.main-nav {
	float: right;
}

.main-nav ul {
	padding: 18px 12px 0 0px;
	text-align: right;
	margin: 0;
	display: block;
}

.main-nav li {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 33px;
}

.main-nav a {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #202242;
}

.main-nav a:hover {
	color: #ffe13e;
}

.main-form-info {
	background: url(../images/main-pic.jpg) 50% 0 no-repeat;
	background-size: cover;
	text-align: center;
	height: 794px;
	padding: 211px 0 50px 0;
}

.main-form-info .form-title {
	font-size: 48px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	color: #fff;
	margin: 0 0 0 27px;
	padding: 0;
	position: relative;
}

.main-form-info .form-title::after {
	content: "";
	width: 102px;
	height: 110px;
	display: block;
	background: url(../images/ic-atom.png) 50% no-repeat;
	position: absolute;
	top: 93px;
	left: 45%;
}

.form-block {
	background-color: #dddddd;
	padding: 16px 0 17px 0;
	width: 570px;
	margin: 203px 292px 0 auto;
}

.form-block input {
	width: 273px;
	height: 55px;
	text-align: center;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #2d2d2d;
	vertical-align: top;
	border: none;
	padding-left: 8px;
	padding-right: 2px;
}

form {
	font-size: 0;
}

.select {
	width: 109px;
	height: 55px;
	background-color: #ffe13e;
	vertical-align: top;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #2d2d2d;
	border: none;
	padding-left: 9px;
	background-image: url(../images/ic-arrow.png);
  	background-position: 92% 50%;
 	background-repeat: no-repeat;
  	-webkit-appearance: none; 
  	-moz-appearance: none;
  	text-indent: 0.01px;
 	text-overflow: '';
 	-ms-appearance: none;
 	appearance: none!important;
  	
}

.select::-ms-expand {
  display: none;
}

.btn {
	width: 153px;
	height: 55px;
	background-color: #ffe13e;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: none;
	border-left: 1px solid #fff;
}

.main-info {
	background-color: #202242;
	position: relative;
}

.main-info .container {
	position: relative;
	z-index: 2;
}

.yellow-block {
	width: 50%;
	height: 100%;
	background-color: #ffe13e;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.blocks {
	display: flex;
	flex-wrap: wrap;
}

.block {
	width: 50%;
	text-align: center;
}

.block .inner {
	height: 100%;
	padding: 330px 86px 85px 86px;
}

.block h4 {
	margin: 0;
}

.block h4 a {
	font-size: 36px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	color: #fff;
	position: relative;
}

.block h4 a::before {
	content: "";
	width: 292px;
	height: 169px;
	display: block;
	background: url(../images/sprites.png) no-repeat;
	position: absolute;
	top: -217px;
	left: 27%;
}

.block-2 h4 a {
	margin-left: 5px;
}

.block-2 h4 a:last-child::before {
	position: absolute;
	top: -150px;
    left: 11%;
}

.block-1 h4 a::before {
	background-position: 0 0;
}

.block-2 h4 a::before {
	background-position: 0 -306px;
}

.block p {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 21px;
	margin-left: 10px;
}

.more {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	display: block;
	width: 155px;
	height: 57px;
	margin: 18px auto;
	border: 2px solid #fff;
	text-align: center;
	line-height: 52px;
	text-decoration: none;
}

.feature-block {
	background: url(../images/main-pic2.jpg) 50% no-repeat;
	background-size: cover;
	text-align: center;
}

.feature-block h4 {
	margin: 0;
	padding: 82px 0 0 6px;
	font-size: 48px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	color: #202242;
}

.feature-block p {
	margin: 10px 0 0 8px;
	padding: 0;
	font-size: 24px;
	font-weight: 400;
	color: #202242;
}

.features {
	display: flex;
	flex-wrap: wrap;
}

.feature {
	width: 25%;
}

.feature .inner {
	padding: 80px 23px 118px 23px;
	height: 100%;
}

.feature h4 {
	margin: 1px 0 0 0;
	padding: 0;
}

.feature h4 a {
	font-size: 30px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #f4d320;
}

.feature p {
	font-size: 14px;
	font-weight: 400;
	color: #202242;
	margin-top: 18px;
	line-height: 23px;
}

.feature h4 a::before {
	content: "";
	width: 132px;
	height: 165px;
	display: block;
	background: url(../images/sprites2.png) no-repeat;
	margin: 0 auto;
}

.feature-1 h4 a::before {
	background-position: 0 0;
}

.feature-2 h4 a::before {
	background-position: 0 -201px;
}

.feature-3 h4 a::before {
	background-position: -201px 0;
}

.feature-4 h4 a::before {
	background-position: -199px -201px;
}

.clients {
	display: flex;
	flex-wrap: wrap;
}

.client-description {
	width: 30%;
}

.clients .inner {
	padding: 77px 0 90px 0;
	height: 100%;
}

.client-description h4 {
	margin: 0;
	padding-left: 14px;
	font-size: 36px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	color: #202242;
}

.client-description p {
	margin: 15px 0 0 7px;
	font-size: 16px;
	font-weight: 400;
	color: #adadad;
	line-height: 23px;
}

.client-company {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	padding: 98px 0 0 45px;
}

.client-company .company {
	margin-right: 21px;
}

.comments {
	display: flex;
	flex-wrap: wrap;
}

.comment {
	width: 30%;
    margin-right: 28px;
}

.comment .inner {
	background-color: #faf9f9;
	height: 100%;
	padding: 4px 10px 25px 28px;
}

.comment p {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #a4a4a4;
	line-height: 25px;
	position: relative;
}

.comment p::after {
	content: "";
	width: 90px;
	height: 90px;
	display: block;
	background: url(../images/sprites3.png) no-repeat;
	position: absolute;
	top: 112px;
	right: 10px;
	border-radius: 50%;
}

.comment-1 p::after {
	background-position: -32px -26px;
}

.comment-2 p::after {
	background-position: -40px -228px;
}

.comment span {
	font-size: 16px;
	font-weight: 700;
	color: #696969;
	margin: 2px 0 0 7px;
}

footer {
	background-color: #202242;
	text-align: center;
	margin-top: 108px;
	padding: 64px 0 55px 0;
}

footer p {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	margin-left: 16px;
	position: relative;
}

footer p::before {
	content: "";
	width: 31px;
	height: 30px;
	display: block;
	background: url(../images/ic-atom-small.png) no-repeat;
	position: absolute;
	top: -45px;
	left: 49%;
}