.modus-versus
	background-color: #ececec
	background-image: url(../images/border-image2.png)
	background-position: 0 0
	background-repeat: repeat-x
	padding: 57px 0 61px 0
	+phone-mini
		padding: 30px 0 32px 0
.modus-versus__title
	margin: 0
	padding: 0
	font-size: 40px
	font-weight: 600
	color: #e1524b
	text-align: center
	+phone-mini
		font-size: 30px
.modus-versus__content
	margin: 0
	padding: 0
	font-weight: 400
	color: $color-txt
	text-align: center
.blocks 
	display: flex
	flex-wrap: wrap
	margin: 0 -15px
.block
	width: 25%
	padding: 59px 24px 0 9px
	+tablet-mini
		width: 50%
	+phone
		width: 100%
		text-align: center
.block-2
	width: 50%
	padding-right: 35px
	+phone
		width: 100%
.block__title
	margin: 0
	padding: 0
	font-size: 16px
	font-weight: 900
	color: #7f8c8c
.block__list
	padding: 0
	list-style: none
	margin-top: 35px
	+phone
		text-align: left
.block__item
	margin-bottom: 10px
	padding-left: 17px
	font-size: 13px
	font-weight: 400
	color: $color-txt
	position: relative
	&::before 
		content: "\f00c"
		font-family: 'FontAwesome'
		width: 10px
		height: 8px
		color: #61b8b0
		display: block
		position: absolute
		top: 0
		left: 0
.block__content
	color: $color-txt
	font-weight: 400
	margin-top: 34px
	line-height: 24px
.block__content--link
	color: #e1524b
.block__comment 
	background-color: #f8f8f8
	font-weight: 400
	font-style: italic
	color: $color-txt
	padding: 11px 15px 12px 16px
	margin: 25px 0 0 0
	line-height: 24px
	border-radius: 8px
	position: relative
	&::after 
		content: ""
		width: 0
		height: 0
		border-style: solid
		border-width: 0 27px 27px 0
		border-color: transparent #f8f8f8 transparent transparent
		position: absolute
		bottom: -24px
		left: 15px
.block__comment--author
	display: block
	font-size: 16px
	font-weight: 600
	font-style: italic
	color: #62bdbd
	margin: 8px 0 0 69px
	+phone
		text-align: left


