.top-footer
	background-color: #27cabb
	background-image: url(../images/border-image3.png)
	background-position: 0 0
	background-repeat: repeat-x
	padding: 44px 0 36px 0
.footer__blocks
	display: flex
	flex-wrap: wrap
	margin: 0 -15px
.footer__block
	width: 33.333%
	padding: 0 0 0 11px
	+tablet-mini
		width: 50%
	+iphone
		width: 100%
		margin-bottom: 30px
.footer__logo--dark
	color: #4b7e79
.footer__content
	font-weight: 400
	color: $color-txt-white
	margin-top: 16px
	margin-bottom: 25px
	line-height: 24px
.footer__contact
	color: $color-txt-white
	padding: 0
	margin: 0
.footer__contact--data
	font-size: 20px
	font-weight: 600
	font-style: italic
	padding-left: 20px
.footer__title
	font-size: 20px
	font-weight: 700
	color: #4b7e79
	margin: 0 0 24px
	padding: 0
.form
	float: left
.form-row
	clear: both
	text-align: right
	line-height: 25px
.label
	font-size: 14px
	font-weight: 400
	color: $color-txt-white
	display: inline-block
	vertical-align: top
	float: left
	padding-right: 35px
.field
	display: inline-block
	width: 270px
	height: 30px
	padding: 0 5px
	margin-bottom: 10px
	+phone
		width: 200px
.text-area
	display: inline-block
	width: 270px
	height: 85px
	padding: 5px 5px
	+phone
		width: 200px
.footer__title--upper
	text-transform: uppercase
.title__italic
	text-transform: lowercase
	font-style: italic
	font-weight: 400
.footer__image
	display: inline-block
	text-decoration: none
	& img
		float: left
		padding-right: 15px
.footer__image__second
	margin-top: 19px
	display: inline-block
	text-decoration: none
	& img
		float: left
		padding-right: 15px
.footer__image--content
	margin: 0
	color: $color-txt-white
.footer_image--data
	margin: 10px 0 0 0
	color: #4b7e79
.bottom-footer
	background-color: #6ab3ac
	color: $color-txt-white
	padding: 8px 0 9px 0
.bottom-footer__text
	margin: 0
	font-size: 12px
	font-weight: 400
	float: left
	padding-top: 9px
.bottom-footer__icons
	text-align: right
	margin-right: 204px
	+phone
		margin-right: 10px
.bottom-footer__icons-link
	text-decoration: none
	color: $color-txt-white
	font-size: 25px
	margin-left: 21px