@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800')
body 
	color: $color-txt
	background-color: $bg-page
	font-size: 13px
	line-height: 1.3
	min-width: 320px
	font-family: $ff-add
.container
	min-width: 320px
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
.clearfix
	&::after 
		content: ""
		clear: both
		display: table
.logo 
	text-decoration: none
	display: inline-block
	color: $color-txt-white
	font-size: 25px
.logo__bold
	font-size: 30px
	text-transform: uppercase
	font-weight: 900
.btn
	font-weight: 600
	display: inline-block
	width: 200px
	height: 54px
	border-bottom: 4px solid $br-blue
	border-radius: 4px
	background-color: $btn-blue
	text-align: center
	text-decoration: none
	text-transform: uppercase
	color: #fff
	line-height: 47px
	+phone-mini
		width: 180px
