.header
	background-color: $bg-blue
	padding: 31px 0 21px
	background-image: url(../images/border-image.png)
	background-position: 0 100%
	background-repeat: repeat-x
	+iphone
		text-align: center
.header__logo
	float: left
	+iphone
		float: none
.header__nav
	text-align: right
	margin-right: 53px
	+tablet-second
		margin-right: 0
	+iphone
		float: none
		text-align: center
.nav__list
	list-style: none
	margin: 0
	padding: 0
.nav__item
	display: inline-block
	margin: 0
	padding: 0 8px
	+tablet-second
		padding: 0 0
	+phone
		display: block
.nav__link
	display: inline-block
	text-decoration: none
	font-size: 13px
	font-weight: 600
	color: $color-txt-white
	text-transform: uppercase
	padding: 10px 16px 
	&:hover
		border-bottom: 3px solid #528b86
		border-radius: 4px
		background-color: #62a29e
	+tablet-second
		padding: 10px 5px 
.main-block
	background: url(../images/main-pic.jpg) 0 50% no-repeat
	height: 500px
	background-size: cover
	text-align: center
	padding: 154px 0 0
	+phone
		height: auto
		padding: 50px 0 50px
.main-block__title
	margin: 0 auto
	padding: 0 0 0 0
	font-size: 50px
	font-weight: 900
	color: $color-txt-white
	background-color: #e2534b
	width: 30%
	border-radius: 4px
	+tablet
		width: 50%
	+iphone
		width: 80%
	+phone
		font-size: 40px
	+phone-mini
		width: 90%
.main-block__text
	font-size: 16px
	font-weight: 400
	color: $color-txt-white
	background-color: rgba(0,0,0,0.6)
	width: 40%
	margin: 0 auto
	border-radius: 4px
	margin-top: 5px
	padding: 10px 0 19px
	+iphone
		width: 80%
	+phone-mini
		width: 90%