.top-services
	margin-top: 52px
	& .container
		background-color: #ececec
		padding: 17px 0 27px 34px
.top-services-block-content
	float: left
.top-services-block-content__title
	margin: 0
	padding: 0
	font-size: 30px
	font-weight: 600
	color: #7f8c8c
.top-services-block-content__text
	margin: 0
	font-size: 13px
	font-weight: 400
	color: $color-txt
	display: inline-block
.top-services__link
	font-size: 20px
	margin: 6px 0 0 61px
	background-color: $btn-red
	border-bottom: 4px solid $br-red
	+tablet
		margin: 6px 0 0 0
.services-block
	background-color: #f3f3f3
	text-align: center
	margin-top: 44px
	padding-bottom: 13px
.services
	display: flex
	flex-wrap: wrap
	margin: 0 -15px
.service
	display: flex
	width: 25%
	padding: 0 22px 60px 7px
	+tablet-mini
		width: 50%
	+phone
		width: 100%
.inner
	padding: 50px 9px 67px 9px
	position: relative
	height: 100%
	border-bottom: 8px solid transparent
	&:hover
		background-color: $color-txt-white
		border-radius: 4px
		border-color: #e5e6e6
	&:hover .fa
		color: #e2534b
	&:hover .service__link
		background-color: $btn-red
		border-bottom: 4px solid $br-red
	+phone
		padding-top: 10px
.service__title--icon
	font-size: 58px
	color: #62bdbd
.service-title__link
	text-decoration: none
.service--title
	margin: 10px 0 0 0
	padding: 0
	font-size: 16px
	font-weight: 900
	color: #7f8c8c
	text-transform: uppercase
.service--text
	margin: 30px 0 0 0
	font-weight: 400
	color: $color-txt
	line-height: 19px
	flex-grow: 1
.service__link
	font-size: 15px
	position: absolute
	bottom: -29px
	left: 50%
	margin-left: -98px