@media (max-width: 1150px){
  .with-us-content-text {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 950px){
  .work-with-us {
    text-align: center;
  }
}

@media (max-width: 900px){
  .header {
    text-align: center;
  }

  .header_logo {
    float: none;
  }

  .header_nav {
    text-align: center;
  }

  .footer {
    text-align: center;
  }

  .footer_info {
    float: none;
    padding-bottom: 20px;
  }
}

@media (max-width: 620px){
  .work-item {
    width: 50%;
  }

  .nav_item {
    padding: 5px 7px;
  }

  .with-us-content-text {
    font-size: 35px;
  }

  .work-with-us {
    margin-top: 0px;
  }

  .subscribe {
    margin-top: 30px;
  }
}

@media (max-width: 480px){
  .main-title {
    font-size: 30px;
  }

  .nav_item {
    display: block;
  }

  .nav_item::before {
    background: transparent;
  }

  .work-item {
    width: 100%;
  }

  .btn {
    font-size: 20px
  }

  .field {
    font-size: 18px;
  }

  .work-item_descr {
    font-size: 16px;
  }

  .with-us-content-text {
    font-size: 25px;
  }

  .testimonials-text-content {
    margin: 26px auto 0 auto;
  }

  .subscribe_form {
    margin-top: 0px;
  }

  .nav_link--darktheme {
    font-size: 10px;
  }
}