@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body {
	font-family: 'Lato', sans-serif;
	color: #626262;
	background: #fff;
	font-size: 20px;
	line-height: 1.3;
	min-width: 320px;
	margin: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.container {
	min-width: 320px;
	max-width: 1320px;
	padding: 0 10px;
	margin: 0 auto;
}

.logo {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

.logo_bold {
	font-weight: 900;
}

.nav {

}

.nav_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav_item {
	margin: 0;
	padding: 5px 17px;
	display: inline-block;
	position: relative;
}

.nav_item::before {
	content: "";
	width: 1px;
	height: 14px;
	background: #fff;
	position: absolute;
	top: 13px;
	right: -6px;
	transform: rotate(25deg);
}

.nav_item:last-child::before {
	display: none;
}

.nav_item--darktheme::before {
	background-color: #aeb0b2;
	top: 7px;
}

.nav_link {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
}

.nav_link--active,
.nav_link:hover {
	color: #989794;
}

.main-title {
	font-size: 40px;
	color: #3c2839;
	font-weight: 400;
	margin: 0 0 50px;
	padding: 0 0 25px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.main-title::before {
	content: "";
	width: 50px;
	height: 2px;
	background-color: #3c2839;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

.main-title--light {
	color: #fff;
}

.main-title--light::before {
  	background-color: #fff;
}

.title--works {
	margin-top: 14px;
}

.work-item {
  width: 33.33%;
  margin: 0 0 20px;
  padding: 0 10px;
}

.work-item_link {
  text-decoration: none;
  display: block;
  margin-bottom: 33px;
}

.work-item_img {
  display: block;
  width: 100%;
  height: auto;
}

.work-item_descr {
  font-weight: 700;
  font-size: 18px;
  color: #060606;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.with-us-content-text {
	font-size: 50px;
	font-weight: 400;
	color: #fff;
	display: inline-block;
	margin: 0 70px 0 170px;
	padding: 0 0 0 0;
}

.testimonials-text-content {
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	margin: 118px auto 0 auto;
	width: 82%;
	line-height: 34px;
}

.author {
	color: #000;
	font-weight: 700;
	margin-top: 76px;
}

.subscribe_title {
	margin-top: 30px;
}

.subscribe_logo {
	margin-top: 46px;
	display: inline-block;
}

.btn {
  padding: 19px 90px;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
  background: rgba(0,0,0,0.25);
  line-height: 1;
}

.btn--w100 {
  width: 100%;
}

.btn--text  {
	letter-spacing: 5px;
}

.field {
  padding: 19px 20px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 26px;
  color: rgba(255,255,255,0.7);
}

.field::placeholder{
  color: rgba(255,255,255,0.7);
}

.field--w100 {
  width: 100%;
}

.field--al-center {
  text-align: center;
}

.form {
	margin-bottom: 20px;
}

.form_row {
	padding-bottom: 10px;
}

.subscribe_form {
	width: 90%;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 104px;
}

.header {
	background-color: #373c44;
	padding: 44px 0 36px;
}

.header_logo {
	float: left;
	margin-right: 20px;
}

.header_nav {
	text-align: right;
	padding-top: 16px;
}

.footer {
	background-color: #373c44;
	padding: 50px 0;
	color: #aeb0b2;
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link--darktheme {
	color: #aeb0b2;
	font-size: 14px;
}

.footer_info {
	float: right;
	margin: 0;
}

.footer_email-link {
	color: #aeb0b2;
	text-decoration: none;
	text-transform: lowercase;
}

.works {
	padding-top: 50px;
	padding-bottom: 50px;
}

.works-items {
	display: flex;
	flex-wrap: wrap;
	margin: 99px -10px 0;
}

.work-with-us {
	background-color: #00c59e;
	margin-top: 61px;
	padding: 23px 0 23px 0;
}

.testimonials {
	padding: 65px 0;
	text-align: center;	
}

.subscribe {
	background-color: #2a63c1;
	padding: 50px 0 112px;
	margin-top: 87px;
	text-align: center;
}