@media screen and (max-width: 1024px){
	.logo {
		float: none;
		display: inline-block;
		margin-left: 28px;
	}

	.main-nav {
		margin-left: 0;
	}

	.anhiora {
	  width: 70%;
	}

	.card {
	  width: 50%;
	}

	.block {
	  width: 100%;
	}

	.block-1,
	.block-2,
	.block-3 {
		width: 70%;
		margin: 0 auto;
	}

	.service {
	  width: 33.333%;
	  padding: 71px 60px 41px 0;
	  text-align: center;
	}

	.service h4 {
	  margin: 21px 0 0 0;
	}

	.price-card {
	  width: 50%;
	}
}

@media screen and (max-width: 640px){
	.main-nav a {
		display: block;
		padding: 12px 29px 10px 29px;
		border-bottom: 1px solid rgba(255,255,255,0.5)
	}

	.main-nav a:last-child {
		border-bottom: none;
	}

	.main-pic {
	  height: 300px;
	}

	.anhiora {
	  width: 100%;
	  top: 70px;
  	  left: 0;
	}

	.service {
	  width: 50%;
	}

	.price-card {
	  width: 100%;
	}
}


@media screen and (max-width: 500px){
	.card {
	  width: 100%;
	}
	
	.block-1,
	.block-2,
	.block-3 {
		width: 100%;
	}

	.service {
	  width: 100%;
	  padding: 71px 20px 20px 0;
	}

	footer span {
 	 margin: 5px 0 0 0;
	}
}

