@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');
body {
	font-family: 'Open Sans', arial, sans-serif;
	color: #515151;
	background-color: #f7f7f7;
	font-size: 14px;
	line-height: 1.3;
	min-width: 320px;
	margin: 0;
}

.clearfix::after {
	content: "";
	clear:both;
	display: table;
}

.container {
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #d34346;
  border-bottom: 10px solid #bd2d30;
  color: #fff;
}

.logo {
  float: left;
  padding: 8px 0 8px 43px;
  background: url(../images/logo.svg) 0 10px no-repeat;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 25px;
  margin-top: 14px;
}

.main-nav {
  margin-left: 300px;
}

.main-nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  padding: 32px 29px 28px 29px;
}

.main-nav a:hover {
  background-color: #bd2d30;
}

.main-pic {
  background: url(../images/main-pic.jpg) 50% 0 no-repeat;
  background-size: cover;
  height: 488px;
}

.main-pic .container {
  position: relative;
}

.anhiora {
  width: 47.5%;
  position: absolute;
  top: 269px;
  left: 15px;
}

.anhiora h1 {
  margin: 0;
  padding: 0;
  background-color: #d05054;
  border-left: 10px solid #be3639;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  padding: 11px 5px 18px 23px;
}

.anhiora h4 span {
  font-weight: 600;
}

.anhiora p {
  margin: 0;
  padding: 0;
  background-color: #3e5163;
  border-left: 10px solid #2b3844;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 13px 30px 15px 22px;
  line-height: 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  padding: 69px 27px 71px 72px;
  position: relative;
}

.card h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #bd2c30;
}

.card p {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  line-height: 21px;
}

.card .fa {
   font-size: 31px;
   color: #2c3e50;
}

.card-1 .fa-road {
    position: absolute;
    top: 69px;
    left: 14px;
}

.card-2 .fa-leaf {
    position: absolute;
    top: 71px;
    left: 19px;
}

.card-3 .fa-home {
    position: absolute;
    top: 71px;
    left: 19px;
}

.card-4 .fa-users {
    position: absolute;
    top: 71px;
    left: 19px;
}

.about-us {
  background-color: #efefef;
}

.about-us h2 {
  margin: 0;
  padding: 12px 0 16px 23px;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  background-color: #d34346;
  border-left: 10px solid #c62f31;
  text-transform: uppercase;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 33.333%;
  padding: 48px 24px 51px 5px;
}

.block h4 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 800;
  color: #2c3e50;
}

.block p {
  margin: 26px 0 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  line-height: 22px;
}

.block ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}

.block ul li {
  margin-bottom: 8px;
  padding-left: 48px;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  position: relative;
}

.block ul li::before {
  content: "";
  width: 13px;
  height: 13px;
  display: block;
  background: url(../images/ic-arrow.png) 50% 50% no-repeat;
  position: absolute;
  top: 3px;
  left: 21px;
}

.block .comment {
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #111111;
  padding: 33px 44px 23px 32px;
  margin: 30px 0 0 0;
  position: relative;
}

.block .comment::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 27px 27px 0;
  border-color: transparent #f7f7f7 transparent transparent;
  position: absolute;
  bottom: -27px;
  left: 22px;
}

.block span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #bd2d30;
  margin: 8px 0 0 69px;
}

.services-block h3 {
  margin: 0;
  padding: 12px 0 16px 23px;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  background-color: #314559;
  border-left: 10px solid #18222b;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 16.666%;
  padding: 71px 28px 82px 0;
}

.service .fa {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  color: #bd2c30;
  width: 60px;
}

.service a {
  text-decoration: none;
  display: block;
}

.service h4 {
  margin: 21px 0 0 34px;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #bd2c30;
}

.service p {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  line-height: 18px;
}

.prices-block h3 {
  margin: 0 0 51px;
  padding: 12px 10px 16px 23px;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  background-color: #d34346;
  border-left: 10px solid #c62f31;
  text-transform: uppercase;
}

.prices-block {
  background-color: #efefef;
  padding-bottom: 58px;
}

.prices {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.price-card {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.price-link {
  display: block;
  text-decoration: none;
  color: #314559;
  background-color: #f7f7f7;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.price-title {
  margin: 0;
  padding: 11px 10px 16px 18px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-left: 10px solid #22303e;
  background-color: #314559;
}

.price {
  margin: 0;
  padding: 9px 10px 13px 28px;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid #efefef;
}

.price span {
  font-size: 14px;
}

.price-services-list {
  list-style: none;
  margin: 0;
  padding: 0 0 39px;
}

.price-services-list li {
  padding: 15px 10px 10px 48px;
  border-bottom: 1px solid #efefef;
  position: relative;
  margin-bottom: 5px;
}

.price-services-list li:last-child {
  border: none;
}

.price-services-list li::before {
  content: "\f046";
  font-family: 'FontAwesome';
  font-weight: 400;
  position: absolute;
  top: 14px;
  left: 24px;
}

.price-card-bot {
  padding: 11px 0 16px;
  background-color: #314559;
  color: #fff;
  border-top: 10px solid #efefef;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: auto;
}

.price-card-bot span {
  text-transform: uppercase;
}

.price-link:hover {
  color: #d34346;
}

.price-link:hover .price-title {
  background-color: #d34346;
  border-color: #c62f31;
}

.price-link:hover .price-card-bot {
  background-color: #d34346;
}

footer {
  background-color: #314559;
  padding: 17px 0 21px 13px;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
}

footer span {
  display: block;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  color: #7694b3;
  margin: 5px 56px 0 0;
}