@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,800");
body {
  color: #777777;
  background-color: #f3f3f3;
  font-size: 13px;
  line-height: 1.3;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 25px;
}

.logo__bold {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.btn {
  font-weight: 600;
  display: inline-block;
  width: 200px;
  height: 54px;
  border-bottom: 4px solid #62b9b0;
  border-radius: 4px;
  background-color: #76c7c0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 47px;
}
@media screen and (max-width: 430px) {
  .btn {
    width: 180px;
  }
}

.header {
  background-color: #2dc8c1;
  padding: 31px 0 21px;
  background-image: url(../images/border-image.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
}
@media screen and (max-width: 730px) {
  .header {
    text-align: center;
  }
}

.header__logo {
  float: left;
}
@media screen and (max-width: 730px) {
  .header__logo {
    float: none;
  }
}

.header__nav {
  text-align: right;
  margin-right: 53px;
}
@media screen and (max-width: 1020px) {
  .header__nav {
    margin-right: 0;
  }
}
@media screen and (max-width: 730px) {
  .header__nav {
    float: none;
    text-align: center;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin: 0;
  padding: 0 8px;
}
@media screen and (max-width: 1020px) {
  .nav__item {
    padding: 0 0;
  }
}
@media screen and (max-width: 550px) {
  .nav__item {
    display: block;
  }
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 16px;
}
.nav__link:hover {
  border-bottom: 3px solid #528b86;
  border-radius: 4px;
  background-color: #62a29e;
}
@media screen and (max-width: 1020px) {
  .nav__link {
    padding: 10px 5px;
  }
}

.main-block {
  background: url(../images/main-pic.jpg) 0 50% no-repeat;
  height: 500px;
  background-size: cover;
  text-align: center;
  padding: 154px 0 0;
}
@media screen and (max-width: 550px) {
  .main-block {
    height: auto;
    padding: 50px 0 50px;
  }
}

.main-block__title {
  margin: 0 auto;
  padding: 0 0 0 0;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  background-color: #e2534b;
  width: 30%;
  border-radius: 4px;
}
@media screen and (max-width: 1145px) {
  .main-block__title {
    width: 50%;
  }
}
@media screen and (max-width: 730px) {
  .main-block__title {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .main-block__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 430px) {
  .main-block__title {
    width: 90%;
  }
}

.main-block__text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px 0 19px;
}
@media screen and (max-width: 730px) {
  .main-block__text {
    width: 80%;
  }
}
@media screen and (max-width: 430px) {
  .main-block__text {
    width: 90%;
  }
}

.top-services {
  margin-top: 52px;
}
.top-services .container {
  background-color: #ececec;
  padding: 17px 0 27px 34px;
}

.top-services-block-content {
  float: left;
}

.top-services-block-content__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  color: #7f8c8c;
}

.top-services-block-content__text {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  display: inline-block;
}

.top-services__link {
  font-size: 20px;
  margin: 6px 0 0 61px;
  background-color: #e8645a;
  border-bottom: 4px solid #e2534b;
}
@media screen and (max-width: 1145px) {
  .top-services__link {
    margin: 6px 0 0 0;
  }
}

.services-block {
  background-color: #f3f3f3;
  text-align: center;
  margin-top: 44px;
  padding-bottom: 13px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.service {
  display: flex;
  width: 25%;
  padding: 0 22px 60px 7px;
}
@media screen and (max-width: 830px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .service {
    width: 100%;
  }
}

.inner {
  padding: 50px 9px 67px 9px;
  position: relative;
  height: 100%;
  border-bottom: 8px solid transparent;
}
.inner:hover {
  background-color: #fff;
  border-radius: 4px;
  border-color: #e5e6e6;
}
.inner:hover .fa {
  color: #e2534b;
}
.inner:hover .service__link {
  background-color: #e8645a;
  border-bottom: 4px solid #e2534b;
}
@media screen and (max-width: 550px) {
  .inner {
    padding-top: 10px;
  }
}

.service__title--icon {
  font-size: 58px;
  color: #62bdbd;
}

.service-title__link {
  text-decoration: none;
}

.service--title {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  font-weight: 900;
  color: #7f8c8c;
  text-transform: uppercase;
}

.service--text {
  margin: 30px 0 0 0;
  font-weight: 400;
  color: #777777;
  line-height: 19px;
  flex-grow: 1;
}

.service__link {
  font-size: 15px;
  position: absolute;
  bottom: -29px;
  left: 50%;
  margin-left: -98px;
}

.modus-versus {
  background-color: #ececec;
  background-image: url(../images/border-image2.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  padding: 57px 0 61px 0;
}
@media screen and (max-width: 430px) {
  .modus-versus {
    padding: 30px 0 32px 0;
  }
}

.modus-versus__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 600;
  color: #e1524b;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .modus-versus__title {
    font-size: 30px;
  }
}

.modus-versus__content {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #777777;
  text-align: center;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.block {
  width: 25%;
  padding: 59px 24px 0 9px;
}
@media screen and (max-width: 830px) {
  .block {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .block {
    width: 100%;
    text-align: center;
  }
}

.block-2 {
  width: 50%;
  padding-right: 35px;
}
@media screen and (max-width: 550px) {
  .block-2 {
    width: 100%;
  }
}

.block__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 900;
  color: #7f8c8c;
}

.block__list {
  padding: 0;
  list-style: none;
  margin-top: 35px;
}
@media screen and (max-width: 550px) {
  .block__list {
    text-align: left;
  }
}

.block__item {
  margin-bottom: 10px;
  padding-left: 17px;
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  position: relative;
}
.block__item::before {
  content: "";
  font-family: "FontAwesome";
  width: 10px;
  height: 8px;
  color: #61b8b0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.block__content {
  color: #777777;
  font-weight: 400;
  margin-top: 34px;
  line-height: 24px;
}

.block__content--link {
  color: #e1524b;
}

.block__comment {
  background-color: #f8f8f8;
  font-weight: 400;
  font-style: italic;
  color: #777777;
  padding: 11px 15px 12px 16px;
  margin: 25px 0 0 0;
  line-height: 24px;
  border-radius: 8px;
  position: relative;
}
.block__comment::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 27px 27px 0;
  border-color: transparent #f8f8f8 transparent transparent;
  position: absolute;
  bottom: -24px;
  left: 15px;
}

.block__comment--author {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  color: #62bdbd;
  margin: 8px 0 0 69px;
}
@media screen and (max-width: 550px) {
  .block__comment--author {
    text-align: left;
  }
}

.top-footer {
  background-color: #27cabb;
  background-image: url(../images/border-image3.png);
  background-position: 0 0;
  background-repeat: repeat-x;
  padding: 44px 0 36px 0;
}

.footer__blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__block {
  width: 33.333%;
  padding: 0 0 0 11px;
}
@media screen and (max-width: 830px) {
  .footer__block {
    width: 50%;
  }
}
@media screen and (max-width: 730px) {
  .footer__block {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer__logo--dark {
  color: #4b7e79;
}

.footer__content {
  font-weight: 400;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 25px;
  line-height: 24px;
}

.footer__contact {
  color: #fff;
  padding: 0;
  margin: 0;
}

.footer__contact--data {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding-left: 20px;
}

.footer__title {
  font-size: 20px;
  font-weight: 700;
  color: #4b7e79;
  margin: 0 0 24px;
  padding: 0;
}

.form {
  float: left;
}

.form-row {
  clear: both;
  text-align: right;
  line-height: 25px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding-right: 35px;
}

.field {
  display: inline-block;
  width: 270px;
  height: 30px;
  padding: 0 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
  .field {
    width: 200px;
  }
}

.text-area {
  display: inline-block;
  width: 270px;
  height: 85px;
  padding: 5px 5px;
}
@media screen and (max-width: 550px) {
  .text-area {
    width: 200px;
  }
}

.footer__title--upper {
  text-transform: uppercase;
}

.title__italic {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 400;
}

.footer__image {
  display: inline-block;
  text-decoration: none;
}
.footer__image img {
  float: left;
  padding-right: 15px;
}

.footer__image__second {
  margin-top: 19px;
  display: inline-block;
  text-decoration: none;
}
.footer__image__second img {
  float: left;
  padding-right: 15px;
}

.footer__image--content {
  margin: 0;
  color: #fff;
}

.footer_image--data {
  margin: 10px 0 0 0;
  color: #4b7e79;
}

.bottom-footer {
  background-color: #6ab3ac;
  color: #fff;
  padding: 8px 0 9px 0;
}

.bottom-footer__text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  float: left;
  padding-top: 9px;
}

.bottom-footer__icons {
  text-align: right;
  margin-right: 204px;
}
@media screen and (max-width: 550px) {
  .bottom-footer__icons {
    margin-right: 10px;
  }
}

.bottom-footer__icons-link {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin-left: 21px;
}
