%btns
	color: $color-txt
	text-decoration: none
	text-transform: uppercase
	font-family: $ff-add
	font-size: 15px
	padding: 10px 20px
	margin: 39px auto 0
	position: relative
	display: inline-block
	&::before
		content: ""
		width: 0
		height: 0
		border-style: solid
		border-width: 10px 11px 0 11px
		position: absolute
		bottom: -10px
		left: 50%
		margin-left: -11px
.btn-red
	@extend %btns
	+btn($red)
.btn-yellow
	@extend %btns
	+btn($yellow)
.btn-green
	@extend %btns
	+btn($sea-green)
.btn-violett
	@extend %btns
	+btn($violett)

.btn-transparent
	font-family: $ff-add
	color: $color-txt
	font-size: 17px
	margin: 23px auto 0
	position: relative
	display: inline-block
	&::before
		content: ""
		width: 16px
		height: 16px
		border-left: 2px solid $color-txt
		border-bottom: 2px solid $color-txt
		transform: rotate(-45deg)
		position: absolute
		bottom: -8px
		left: 50%
		margin-left: -9px
	span
		display: inline-block
		padding: 10px 30px
		border: 2px solid $color-txt
		border-bottom: none
		&::before,
		&::after
			content: ""
			width: calc(50% - 11px)
			height: 2px
			background-color: $color-txt
			position: absolute
			bottom: 0
		&::before
			left: 0
		&::after
			right: 0
.btn-submit
	font-family: $ff-add
	color: $color-txt
	font-size: 17px
	margin: 23px auto 0
	position: relative
	display: inline-block
	text-transform: uppercase
	background-color: $bg-dark
	&::before
		content: ""
		width: 16px
		height: 16px
		background-color: $bg-dark
		border-left: 2px solid $border
		border-bottom: 2px solid $border
		transform: rotate(-45deg)
		position: absolute
		bottom: -8px
		left: 50%
		margin-left: -9px
	span
		display: inline-block
		padding: 10px 30px
		border: 2px solid $border
		border-bottom: none
		&::before,
		&::after
			content: ""
			width: calc(50% - 11px)
			height: 2px
			background-color: $border
			position: absolute
			bottom: 0
		&::before
			left: 0
		&::after
			right: 0