//информационный блок
.info-block
	margin-top: -92px
	+phone
		margin-top: -20px
.items
	display: flex
	flex-wrap: wrap
.item
	text-align: center
	padding: 183px 106px 44px 106px
	width: 50%
	+tablet
		width: 100%
	+phone-mini
		padding: 183px 20px 44px 20px
.item-title
	font-size: 29px
	font-weight: 400
	color: $color-txt
	text-transform: uppercase
	margin: 0
	padding: 0
	position: relative
	&::before
		content: ""
		width: 100px
		height: 100px
		display: block
		background-color: $color-txt
		background-image: url(../images/sprites.png)
		background-repeat: no-repeat
		border-radius: 50%
		position: absolute
		top: -125px
		left: 50%
		margin-left: -50px
.item-text
	font-size: 16px
	font-weight: 400
	font-family: 'Source Sans Pro', sans-serif
	color: $color-txt
.item-1
	background-color: $red
	.item-title
		&::before
			background-position: 23px 25px
.item-2
	background-color: $yellow
	.item-title
		&::before
			background-position: 27px -70px
.item-3
	background-color: $sea-green
	.item-title
		&::before
			background-position: 24px -160px
.item-4
	background-color: $violett
	.item-title
		&::before
			background-position: 23px -255px


//блок с комментариями
.comment-block
	padding: 80px 0 0 0
.comment-title
	font-size: 29px
	font-weight: 400
	color: $color-txt
	text-transform: uppercase
	margin: 0
	padding: 0
	text-align: center
.comment-text
	font-size: 21px
	font-weight: 400
	color: $color-txt
	text-transform: uppercase
	text-align: center
	position: relative
	&::before,
	&::after
		content: ""
		width: 117px
		height: 1px
		display: block
		background-color: $border
		position: absolute
		top: 12px
		+tablet-mini
			width: 75px
		+phone
			display: none
	&::before
		left: 21%
		+tablet
			left: 10%
	&::after
		right: 21%
		+tablet
			right: 10%
.cards
	display: flex
	flex-wrap: wrap
	margin: 70px -15px 0 -15px
.card
	width: 33.333%
	+tablet
		width: 50%
	+ipad
		width: 100%
	text-align: center
	background-color: $bg-dark
	padding: 45px 36px 55px 36px
.card-image
	border-radius: 50%
	width: 180px
	height: 180px
.card-text
	font-size: 16px
	font-weight: 400
	color: #76b2be
	font-family: 'Source Sans Pro', sans-serif
.card-1
	border-top: 7px solid $red
.card-2
	border-top: 7px solid $yellow
.card-3
	border-top: 7px solid $sea-green