.footer
	padding: 41px 0 39px 0
	background-color: $bg-dark
	text-align: center
.footer-social-info
	position: relative
	&::after
		content: ""
		width: 283px
		height: 1px
		dasplay: block
		background-color: $border
		position: absolute
		bottom: -35px
		left: 50%
		margin-left: -141px
.email
	display: inline-block
	font-size: 15px
	font-weight: 400
	font-family: 'Source Sans Pro', sans-serif
	color: $color-txt
	margin: 0 10px 0 0
	+phone
		display: block
.phone
	display: inline-block
	font-size: 15px
	font-weight: 400
	font-family: $ff-second
	color: $color-txt
	margin: 0 0 0 20px
	+phone
		display: block
.social
	display: inline-block
	width: 34px
	height: 34px
	border-radius: 50%
	background-color: $color-txt
	font-size: 0
	margin-left: 11px
	vertical-align: middle
	+phone
		margin: 10px 11px
.facebook
	background-image: url(../images/ic-facebook.png)
	background-position: 50% 50%
	background-repeat: no-repeat
.twitter
	background-image: url(../images/ic-twitter.png)
	background-position: 50% 50%
	background-repeat: no-repeat
.websites-block
	padding: 54px 0 0 0
.websites
	font-size: 16px
	font-weight: 400
	font-family: $ff-second
.website-yellow
	color: $yellow
	padding-right: 20px
	position: relative
	+phone
		display: block
	&::after
		content: ""
		width: 18px
		height: 2px
		display: block
		background-color: $color-txt
		position: absolute
		top: 10px
		right: 2px
		transform: rotate(-65deg)
		+phone
			display: none
.website-yellow-link
	color: $yellow
	text-decoration: none
.link
	text-decoration: none
	color: $color-txt