.form-block
	padding: 210px 0 82px 0
.form-title
	position: relative
	&::before
		content: ""
		width: 100px
		height: 100px
		display: block
		background-color: $color-txt
		background-image: url(../images/sprites.png)
		background-repeat: no-repeat
		background-position: 23px -350px
		border-radius: 50%
		position: absolute
		top: -125px
		left: 50%
		margin-left: -50px
.form
	text-align: center
.field
	width: 270px
	height: 45px
	border: 1px solid $border
	background-color: $bg-dark
	margin: 38px 15px 0 15px
	padding: 0 5px
	color: $color-txt
.textarea
	background-color: $bg-dark
	display: block
	width: 570px
	height: 125px
	margin: 32px auto 0
	border: 1px solid $border
	padding: 0 5px
	color: $color-txt
	+phone
		width: 80%
.form-btn
	margin-top: 30px