@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro')
body 
	color: $color-txt
	background-color: $bg-page
	font-size: 16px
	line-height: 1.3
	min-width: 320px
	font-family: $ff-add
.container
	min-width: 320px
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto
.clearfix
	&::after 
		content: ""
		clear: both
		display: table