.top-page
	height: 600px
	background: url(../images/main-pic.jpg) 0 50% no-repeat
	background-size: cover
	+phone
		height: auto
.header
	padding: 27px 0 48px 30px
	border-bottom: 1px solid #2a6c78
	border-left: 1px solid #2a6c78
	border-right: 1px solid #2a6c78
	+phone
		text-align: center
		padding: 27px 0 27px 30px
.top-logo
	float: left
	text-decoration: none
	font-size: 25px
	color: $color-txt
	+phone
		float: none
.nav-menu
	float: right
	padding-right: 35px
	+phone
		float: none
		text-align: center
		padding-right: 0
.nav_list
	list-style: none
	margin: 0
	padding: 0
.nav_item
	display: inline-block
	margin: 0
	padding: 5px 20px
	+phone-mini
		padding: 5px 5px
.nav_link
	text-decoration: none
	font-size: 17px
	color: $color-txt
	font-weight: 400
	display: inline-block
.top-page-info
	text-align: center
	text-transform: uppercase
	padding-top: 129px
	+phone
		padding-top: 50px
		padding-bottom: 50px
.top-title
	margin: 0
	padding: 0
	font-size: 41px
	font-weight: 400
	color: $color-txt
	letter-spacing: 4px
	+phone
		font-size: 31px
	+phone-mini
		font-size: 25px
.top-text
	margin: 10px 0 0 0
	font-size: 31px
	font-weight: 400
	color: $color-txt
	letter-spacing: 4px
	+phone
		font-size: 21px