@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro");
body {
  color: #fff;
  background-color: #29606b;
  font-size: 16px;
  line-height: 1.3;
  min-width: 320px;
  font-family: "Fjalla One", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn-red, .btn-yellow, .btn-green, .btn-violett {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  margin: 39px auto 0;
  position: relative;
  display: inline-block;
}
.btn-red::before, .btn-yellow::before, .btn-green::before, .btn-violett::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -11px;
}

.btn-red {
  background-color: #e84c3d;
}
.btn-red::before {
  border-color: #e84c3d transparent transparent transparent;
}

.btn-yellow {
  background-color: #fdbd1f;
}
.btn-yellow::before {
  border-color: #fdbd1f transparent transparent transparent;
}

.btn-green {
  background-color: #1bbc9b;
}
.btn-green::before {
  border-color: #1bbc9b transparent transparent transparent;
}

.btn-violett {
  background-color: #9b58b5;
}
.btn-violett::before {
  border-color: #9b58b5 transparent transparent transparent;
}

.btn-transparent {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  font-size: 17px;
  margin: 23px auto 0;
  position: relative;
  display: inline-block;
}
.btn-transparent::before {
  content: "";
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
}
.btn-transparent span {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-bottom: none;
}
.btn-transparent span::before, .btn-transparent span::after {
  content: "";
  width: calc(50% - 11px);
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.btn-transparent span::before {
  left: 0;
}
.btn-transparent span::after {
  right: 0;
}

.btn-submit {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  font-size: 17px;
  margin: 23px auto 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background-color: #245963;
}
.btn-submit::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #245963;
  border-left: 2px solid #387d89;
  border-bottom: 2px solid #387d89;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
}
.btn-submit span {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #387d89;
  border-bottom: none;
}
.btn-submit span::before, .btn-submit span::after {
  content: "";
  width: calc(50% - 11px);
  height: 2px;
  background-color: #387d89;
  position: absolute;
  bottom: 0;
}
.btn-submit span::before {
  left: 0;
}
.btn-submit span::after {
  right: 0;
}

.top-page {
  height: 600px;
  background: url(../images/main-pic.jpg) 0 50% no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .top-page {
    height: auto;
  }
}

.header {
  padding: 27px 0 48px 30px;
  border-bottom: 1px solid #2a6c78;
  border-left: 1px solid #2a6c78;
  border-right: 1px solid #2a6c78;
}
@media screen and (max-width: 600px) {
  .header {
    text-align: center;
    padding: 27px 0 27px 30px;
  }
}

.top-logo {
  float: left;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .top-logo {
    float: none;
  }
}

.nav-menu {
  float: right;
  padding-right: 35px;
}
@media screen and (max-width: 600px) {
  .nav-menu {
    float: none;
    text-align: center;
    padding-right: 0;
  }
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  display: inline-block;
  margin: 0;
  padding: 5px 20px;
}
@media screen and (max-width: 430px) {
  .nav_item {
    padding: 5px 5px;
  }
}

.nav_link {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
}

.top-page-info {
  text-align: center;
  text-transform: uppercase;
  padding-top: 129px;
}
@media screen and (max-width: 600px) {
  .top-page-info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.top-title {
  margin: 0;
  padding: 0;
  font-size: 41px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 4px;
}
@media screen and (max-width: 600px) {
  .top-title {
    font-size: 31px;
  }
}
@media screen and (max-width: 430px) {
  .top-title {
    font-size: 25px;
  }
}

.top-text {
  margin: 10px 0 0 0;
  font-size: 31px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 4px;
}
@media screen and (max-width: 600px) {
  .top-text {
    font-size: 21px;
  }
}

.info-block {
  margin-top: -92px;
}
@media screen and (max-width: 600px) {
  .info-block {
    margin-top: -20px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  padding: 183px 106px 44px 106px;
  width: 50%;
}
@media screen and (max-width: 980px) {
  .item {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .item {
    padding: 183px 20px 44px 20px;
  }
}

.item-title {
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
}
.item-title::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: 50%;
  margin-left: -50px;
}

.item-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

.item-1 {
  background-color: #e84c3d;
}
.item-1 .item-title::before {
  background-position: 23px 25px;
}

.item-2 {
  background-color: #fdbd1f;
}
.item-2 .item-title::before {
  background-position: 27px -70px;
}

.item-3 {
  background-color: #1bbc9b;
}
.item-3 .item-title::before {
  background-position: 24px -160px;
}

.item-4 {
  background-color: #9b58b5;
}
.item-4 .item-title::before {
  background-position: 23px -255px;
}

.comment-block {
  padding: 80px 0 0 0;
}

.comment-title {
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
}

.comment-text {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.comment-text::before, .comment-text::after {
  content: "";
  width: 117px;
  height: 1px;
  display: block;
  background-color: #387d89;
  position: absolute;
  top: 12px;
}
@media screen and (max-width: 820px) {
  .comment-text::before, .comment-text::after {
    width: 75px;
  }
}
@media screen and (max-width: 600px) {
  .comment-text::before, .comment-text::after {
    display: none;
  }
}
.comment-text::before {
  left: 21%;
}
@media screen and (max-width: 980px) {
  .comment-text::before {
    left: 10%;
  }
}
.comment-text::after {
  right: 21%;
}
@media screen and (max-width: 980px) {
  .comment-text::after {
    right: 10%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -15px 0 -15px;
}

.card {
  width: 33.333%;
  text-align: center;
  background-color: #245963;
  padding: 45px 36px 55px 36px;
}
@media screen and (max-width: 980px) {
  .card {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}

.card-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  color: #76b2be;
  font-family: "Source Sans Pro", sans-serif;
}

.card-1 {
  border-top: 7px solid #e84c3d;
}

.card-2 {
  border-top: 7px solid #fdbd1f;
}

.card-3 {
  border-top: 7px solid #1bbc9b;
}

.form-block {
  padding: 210px 0 82px 0;
}

.form-title {
  position: relative;
}
.form-title::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: 23px -350px;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: 50%;
  margin-left: -50px;
}

.form {
  text-align: center;
}

.field {
  width: 270px;
  height: 45px;
  border: 1px solid #387d89;
  background-color: #245963;
  margin: 38px 15px 0 15px;
  padding: 0 5px;
  color: #fff;
}

.textarea {
  background-color: #245963;
  display: block;
  width: 570px;
  height: 125px;
  margin: 32px auto 0;
  border: 1px solid #387d89;
  padding: 0 5px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .textarea {
    width: 80%;
  }
}

.form-btn {
  margin-top: 30px;
}

.footer {
  padding: 41px 0 39px 0;
  background-color: #245963;
  text-align: center;
}

.footer-social-info {
  position: relative;
}
.footer-social-info::after {
  content: "";
  width: 283px;
  height: 1px;
  dasplay: block;
  background-color: #387d89;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -141px;
}

.email {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  margin: 0 10px 0 0;
}
@media screen and (max-width: 600px) {
  .email {
    display: block;
  }
}

.phone {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  margin: 0 0 0 20px;
}
@media screen and (max-width: 600px) {
  .phone {
    display: block;
  }
}

.social {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0;
  margin-left: 11px;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  .social {
    margin: 10px 11px;
  }
}

.facebook {
  background-image: url(../images/ic-facebook.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../images/ic-twitter.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.websites-block {
  padding: 54px 0 0 0;
}

.websites {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.website-yellow {
  color: #fdbd1f;
  padding-right: 20px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .website-yellow {
    display: block;
  }
}
.website-yellow::after {
  content: "";
  width: 18px;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 2px;
  transform: rotate(-65deg);
}
@media screen and (max-width: 600px) {
  .website-yellow::after {
    display: none;
  }
}

.website-yellow-link {
  color: #fdbd1f;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #fff;
}
