@media screen and (max-width: 1150px){
	.block-after-header h2 {
	   font-size: 45px;
	   width: 50%;
	   margin: 0 auto;
	}

	.book {
	   bottom: 0;
	   left: -16px;
	}

	.coffee {
	   bottom: 22px;
	   right: 35px;
	}

	.usb {
	   top: 63px;
	   left: 220px;
	}

	.razor {
	   top: 18px;
	   left: 86px;
	}

	.clips {
	   top: 50px;
	   right: 10px;
	}

	.key {
	   top: -125px;
	   right: -20px;
	}
}

@media screen and (max-width: 900px){
	.laptop {
	   width: 400px;
	   top: -137px;
       left: 38%;
	}

	.coffee {
	   width: 150px;
	   bottom: 0px;
	}

	.book {
	   width: 200px;
	   bottom: -83px;
	   left: 2px;
	}

	.card {
	   width: 50%;
	}

	.block {
	   width: 100%;
	}
	
	.column {
	   width: 100%;
	}

	.blocks {
		margin-top: 60px;
	}

	.block-1 img {
	    top: -74px;
   	 	left: 23%;
	}

	.block-2 {
		margin-top: 40px;
		text-align: center;
	}

	.columns {
		margin-top: 60px;
		padding: 240px 0 95px 0;
	}

	.column-2 img {
	   position: absolute;
	   top: -535px;
       right: 28%;
	}

	.column h4 {
	   display: block;
	   padding-left: 140px;
	}

	.column ul {
		display: block;
		width: 60%;
	   margin: 37px auto;
	}

	footer p {
	   margin: 0 auto;
	   width: 60%;
	}
}

@media screen and (max-width: 750px){
	.block-after-header h2 {
	   font-size: 35px;
	}

	.laptop {
	   width: 311px;
       top: -112px;
       left: 38%;
	}

	.usb {
	   width: 50px;
	   height: 113px;
	}

	.razor {
	   width: 30px;
	}

	.main-info-block h4 {
	   font-size: 35px;
	}

	.card h4 {
	   font-size: 20px;
	}
		
	.block h4 {
	   font-size: 25px;
	}

	.column h4 {
	   font-size: 25px;
	   padding-left: 70px;
	}

	.coffee {
	   bottom: -69px;
	   right: 17px;
	}
}

@media screen and (max-width: 660px){
	.main-nav a {
	    margin-right: 20px;
	}

	.block .inner {
	    padding: 42px 20px 0 9px;
	}

	.column-2 img {
	    top: -605px;
        right: 23%;
	}

	.card {
	   width: 100%;
	}

}

@media screen and (max-width: 580px){
	.main-nav ul {
	    margin: 0 0 0 130px;
	}

	.book {
	    width: 140px;
	    bottom: -158px;
	    left: 2px;
	}

	.coffee {
	    bottom: -69px;
	    right: 17px;
	}

	.usb {
	    top: 63px;
	    left: 140px;
	}

	.laptop {
	    width: 230px;
	    top: -84px;
	    left: 38%;
	}

	.column ul {
	    width: 73%;
	}
}

@media screen and (max-width: 500px){
	.main-nav a {
	    margin-right: 8px;
	}
	
	.column-2 img {
	    top: -605px;
	    right: 10%;
	}

	.coffee {
	    width: 80px;
	}

	.block-1 img {
	    top: -74px;
	    left: 10%;
	}
}