@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,800');
body {
	font-family: arial, sans-serif;
	color: #515151;
	background-color: #fff;
	font-size: 13px;
	line-height: 1.3;
	min-width: 480px;
	margin: 0;
}

.clearfix::after {
	content: "";
	clear:both;
	display: table;
}

.container {
	min-width: 480px;
	max-width: 1170px;
	margin: 0 auto;
}

header {
   background-color: #5bbc2e;
   padding: 20px 0 12px 0;
}

.logo {
   width: 128px;
   height: 47px;
   background: url(../images/logo.png) 50% 0 no-repeat;
   float: left;
   font-size: 0;
}

.main-nav ul {
   list-style: none;
   padding: 10px;
   margin: 0 0 0 195px;
}

.main-nav ul li {
   display: inline-block;
   margin-top: 5px;
}

.main-nav a {
   font-size: 13px;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   margin-right: 44px;
}

.block-after-header {
   background-color: #edecf2;
   text-align: center;
   overflow: hidden;
}

.block-after-header .container {
   position: relative;
}

.block-after-header h2 {
   margin: 0 auto 0 196px;
   padding: 274px 0 113px 0;
   color: #5bbc2e;
   font-size: 48px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   width: 65%;
   animation: tada 8s alternate infinite;
}

.block-after-header h2 span {
   color: #000;
}

.book {
   width: 267px;
   height: 335px;
   position: absolute;
   bottom: 0;
   left: -125px;
}

.coffee {
   width: 225px;
   height: 224px;
   position: absolute;
   bottom: 22px;
   right: -31px;
}

.laptop {
   width: 528px;
   height: 157px;
   position: absolute;
   top: -187px;
   left: 34%;
}

.razor {
   width: 44px;
   height: 63px;
   position: absolute;
   top: 18px;
   left: -33px;
}

.usb {
   width: 88px;
   height: 113px;
   position: absolute;
   top: 63px;
   left: 33px;
   -webkit-animation: hinge 2s alternate infinite;
   animation: hinge 2s alternate infinite;
}

.clips {
   width: 58px;
   height: 55px;
   position: absolute;
   top: 50px;
   right: -48px;
   -webkit-animation: slideInRight 3s linear alternate infinite;
   animation: slideInRight 1s linear alternate infinite;
}

.one-clip {
   width: 25px;
   height: 25px;
   position: absolute;
   top: 160px;
   right: 96px;
}

.key {
   width: 69px;
   height: 145px;
   position: absolute;
   top: -125px;
   right: -88px;
}

.main-info-block {
   text-align: center;
   padding: 78px 0;
}

.main-info-block h4 {
   margin: 0;
   padding: 0;
   font-size: 48px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   color: #303030;
}

.main-info-block h4 span {
   color: #5bbc2e;
}

.main-info-block p {
   font-size: 12px;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   color: #515151;
   width: 63%;
   margin: 15px auto;
   line-height: 21px;
   word-spacing: 3px;
}

.cards {
   display: flex;
   flex-wrap: wrap;
}

.card {
   width: 25%;
   padding: 127px 32px 0 32px;
}

.card h4 {
   margin: 0;
   padding: 0;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   position: relative;
   letter-spacing: 1px;
}

.card h4 a {
   color: #5bbc2e;
   text-decoration: none;
   display: block;
}

.card h4 a::before {
   content: "";
   width: 50px;
   height: 50px;
   display: block;
   background-image: url(../images/sprites.png);
   background-repeat: no-repeat;
   position: absolute;
   top: -70px;
   left: 42%;;
}

.card p {
   font-size: 12px;
   word-spacing: 7px;
   margin: 5px 0 0 0;
   padding: 0;
   width: 100%;
   line-height: 23px;
}

.card-1 h4 a::before {
   background-position: 0 0;
}

.card-2 h4 a::before {
   background-position: 0 -57px;
}

.card-3 h4 a::before {
   background-position: 0 -117px;
}

.card-4 h4 a::before {
   background-position: 0 -172px;
}

.blocks {
   display: flex;
   flex-wrap: wrap;
}

.block {
   width: 50%;
   padding: 97px 0px 0 0px;
}

.block h4 {
   margin: 0;
   padding: 0;
   font-size: 30px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   color: #8d8d8d;
   text-transform: uppercase;
   line-height: 28px;
}

.block h4 span {
   color: #5bbc2e;
}

.block p {
   margin: 34px 0 0 2px;
   padding: 0;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   color: #767575;
   line-height: 23px;
}

.block .inner {
   padding: 42px 115px 0 9px;
}

.block-1 {
   position: relative;
}

.block-1 img {
   position: absolute;
   top: 98px;
   left: 55px;
}

.work-starts {
   margin-top: 143px;
}

.columns {
   display: flex;
   flex-wrap: wrap;
   padding: 100px 0 95px 0;
}

.column {
   width: 50%;
}

.column .inner {
   padding: 13px 77px 0 0px;
}

.column h4 {
   margin: 0;
   padding: 0;
   font-size: 30px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   color: #8d8d8d;
   text-transform: uppercase;
   line-height: 28px;
}

.column h4 span {
   color: #5bbc2e;
}

.column ul {
   list-style: none;
   padding: 0;
   margin: 37px 0 0 0;
}

.column ul li {
   font-size: 14px;
   color: #767575;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   padding-left: 31px;
   position: relative;
   margin-bottom: 6px;
}

.column ul li::before {
   content: "";
   width: 13px;
   height: 13px;
   display: block;
   background: url(../images/ic-arrow.png) 0 0 no-repeat;
   position: absolute;
   top: 2px;
   left: 4px;
}

.column-2 {
   position: relative;
}

.column-2 img {
   position: absolute;
   top: -7px;
   right: 78px;
}

footer {
   background-color: #141414;
   padding: 21px 0 24px 0px;
}

footer p {
   font-size: 11px;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   color: #e0e0e0;
   word-spacing: 5px;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  0%{
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }

  100%{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
