@media (min-width: 320px) {
  .column-2 img {
  	width: 70%;
  	margin: 40px auto;
  }
}

@media (min-width: 576px) {
  .carousel-info h1 {
    font-size: 34px;
    padding: 17px 33px;
  }
}

@media (min-width: 768px) {
  .carousel-info {
    left: 9%;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.125rem;
    padding-left: 1.125rem;
  }

  .column-2 img {
  	width: auto;
  	margin: 0 auto;
  }

  footer {
	padding: 30px 0 22px 166px;
  }
}
