@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
  font-family: 'Open Sans', sans-serif;
  color: #202226;
}

.limit-width {
  max-width: 1200px;
}
.nav-dark {
  background: #000;
}

.navbar-brand {
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 10px 10px 51px;
  background: url(../images/logo.png) 0 50% no-repeat;
  margin-top: 11px;
  margin-bottom: 13px;
}

.nav-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 60px;
  height: 80px;
  background-color: rgba(0,0,0,0.9);
  background-size: auto;
  border-radius: 3px;
}

.carousel-control-next-icon {
  background-image: url(../images/arrow-right.png);
}

.carousel-control-prev-icon{
  background-image: url(../images/arrow-left.png);;
}

.carousel-block .container-fluid {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.carousel-info {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
}

.carousel-info h1 {
  margin: 0 0 16px;
  padding: 7px 15px;
  background: #65c25d;
  font-size: 20px;
  display: inline-block;
  border-radius: 3px;
}

.carousel-info span {
  padding: 8px 14px;
  display: inline-block;
  background: #000;
  border-radius: 3px;
}

.info-block {
	margin-top: 96px;
}

.info-block .limit-width {
	border-bottom: 1px solid #e4e4e4;
}

.info-block .card {
	border: none;
}

.info-block .card-body {
	padding: 22px 1.2rem 65px;
	position: relative;
}

.info-block .card-body a {
	color: #202226;
}

.info-block .card-body a:hover {
	text-decoration: none;
}

.info-block .card-body h5 {
	font-size: 38px;
	font-weight: 700;
	margin-top: 43px;
}

.info-block .card-body p {
	margin-top: 23px;
	line-height: 25px;
}

.info-block .card-body .fa {
	font-size: 85px;
	font-weight: 400;
	color: #f26c4f;
}

.hear-block {
	margin-top: 5px;
	padding-bottom: 30px;
}

.hear-block .limit-width {
	border-top: 1px solid #e4e4e4;
}

.hear-block .row {
	margin-top: 89px;
}

.hear-block .col-xl-6 {
	padding-left: 7px;
	padding-right: 7px;
}

.column-1 h4 {
	font-size: 40px;
	font-weight: 700;
	color: #202227;
}

.column-1 p {
	font-size: 24px;
	font-weight: 600;
	color: #767370;
	margin-top: 22px;
}

.column-1 .get-started {
	display: block;
	width: 150px;
	height: 45px;
	background-color: #89ca89;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 6px 0 0 9px;
	line-height: 30px;
	margin: 20px 0 0 7px;
}

.column-1 .get-started:hover {
	text-decoration: none;
}

.column-2 img {
	display: block;
}

.latest-news {
	background: url(../images/main-pic.jpg) 0 50% no-repeat;
	background-size: cover;
	padding: 101px 0 74px 0px;
	margin-top: 103px;
}

.latest-news h4 {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-left: 90px;
}

.latest-news .card {
	background-color: transparent;
	border: none;
}

.latest-news .row {
	margin-top: 37px;
}

.latest-news .card-body {
	padding-left: 0;
}

.latest-news .card-body h5 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-top: 12px;
}

.latest-news .card-body p {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	margin-top: 26px;
}

footer {
	background: #000;
	padding: 30px 0 22px 50px;
}

footer p {
	font-size: 12px;
	font-weight: 700;
	color: #777777;
	text-transform: uppercase;
}

footer p span {
	color: #aaaaaa;
}